streamlit==1.35.0
pandas==2.2.2
numpy==1.26.4
plotly==5.22.0
matplotlib==3.8.4
seaborn==0.13.2
selenium==4.21.0
selenium-stealth==1.0.6
beautifulsoup4==4.12.3
requests==2.32.3
spacy==3.7.5
python-docx==1.1.2
PyPDF2==3.0.1
pdfplumber==0.11.0
scikit-learn==1.5.0
psycopg2-binary==2.9.9
sqlalchemy==2.0.30
python-dotenv==1.0.1
nltk==3.8.1
schedule==1.2.2
lxml==5.3.0
html5lib==1.1
pyppeteer==2.0.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
fake_useragent==1.5.1
langdetect==1.0.9
ollama==0.2.1
tenacity==8.4.1
python-magic==0.4.27
openpyxl==3.1.2
xlrd==2.0.1
python-dateutil==2.9.0.post0
requests-cache==1.2.0
tqdm==4.66.4
python-Levenshtein==0.25.1
python-slugify==8.0.4
undetected-chromedriver==3.5.5
webdriver-manager==4.0.1
streamlit-option-menu==0.3.6
streamlit-toggle-switch==1.0.2
urllib3==1.26.18
cloudscraper==1.2.71
redis==5.0.1